# Make aliquot_to_patient_ID mapping file (Proteomics)

In [1]:
import pandas as pd
import numpy as np

# Get mapper for ids

Create a df that maps aliquot Ids (Ex: CPT0001580009) to sample IDs (Ex: C3L-00001-02) which are known to be tumor or normal samples. Then sample IDs are mapped to case IDs (Ex: C3L-00001) which we call Patient_ID.

In [42]:
import cptac.pancan as pc

In [43]:
coad = pc.PancanCoad()

In [48]:
prot = coad.get_proteomics('umich')

In [49]:
prot

Name,ARF5,M6PR,ESRRA,FKBP4,NDUFAF7,FUCA2,CFTR,CYP51A1,USP28,TMEM176A,...,TMUB1,CSNK1A1,MICAL2,ANK2,SEPTIN7,ATAD3B,ETNK1,MYO6,WIZ,HSPA12A
Database_ID,ENSP00000000233.5,ENSP00000000412.3,ENSP00000000442.6,ENSP00000001008.4,ENSP00000002125.4,ENSP00000002165.5,ENSP00000003084.6,ENSP00000003100.8,ENSP00000003302.4,ENSP00000004103.3,...,ENSP00000499339.1,ENSP00000499757.1,ENSP00000499778.1,ENSP00000499869.1,ENSP00000499937.1,ENSP00000500094.1,ENSP00000500633.1,ENSP00000500710.1,ENSP00000501300.1,ENSP00000501491.1
Patient_ID,,,,,,,,,,,,,,,,,,,,,
01CO001,-0.261243,-0.135187,NaN,-0.421984,0.091252,-0.388588,NaN,-0.387581,NaN,-0.001072,...,0.298602,0.186034,0.210140,NaN,NaN,-0.420974,-0.768215,-0.629322,0.333280,1.196040
01CO005,-0.203037,-0.223341,-0.283633,-0.612614,0.514855,-0.824026,NaN,0.045383,NaN,-0.248511,...,NaN,NaN,-0.042548,NaN,NaN,0.925011,-0.173468,-0.180521,0.139707,-0.882283
01CO005.1,0.528041,-0.376478,NaN,0.129405,-0.269530,-0.146473,NaN,-0.158464,-0.056743,NaN,...,0.206964,0.428943,0.813518,NaN,NaN,1.825157,-0.489854,0.172148,-0.087349,0.170306
01CO006,-0.233045,-0.293416,0.066095,-0.339944,0.027368,0.142092,1.743147,-0.184220,NaN,-0.248598,...,0.088444,0.544442,0.051246,NaN,0.337835,-0.652695,0.065613,-0.340551,-0.315893,0.913654
01CO006.1,0.188931,0.544620,NaN,-0.571640,-0.209734,0.799090,NaN,-0.338493,-0.042567,NaN,...,-0.411664,-0.454109,-0.725892,NaN,NaN,-0.707588,-0.846624,0.329813,-0.311147,-0.446358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22CO004.1,0.205247,-0.237462,NaN,-0.011821,-0.145675,0.627597,NaN,-0.000065,-0.413365,NaN,...,-0.148922,NaN,-0.466743,NaN,NaN,-0.562721,0.297366,-0.049022,-0.085274,0.358656
22CO006,0.216116,0.145375,-0.295007,0.346591,-0.283399,0.221962,-0.563181,-0.717338,-0.285263,-0.002365,...,-0.131252,-0.175482,-0.367751,-2.361493,-0.101730,0.569413,-0.458096,0.090534,0.021681,-0.047764
22CO006.1,-0.410234,-0.107293,NaN,-0.522447,0.158187,-0.748186,NaN,-0.870711,NaN,NaN,...,-0.189862,-0.285897,0.458918,NaN,0.678965,NaN,-0.053787,-0.305321,0.007549,0.494940
27CO004,-0.168016,-0.010892,NaN,-0.197777,0.132891,0.167210,NaN,-0.509213,NaN,NaN,...,0.113963,NaN,-0.352050,NaN,NaN,-0.253737,0.344201,-0.190713,-0.317343,0.661204
27CO004.1,-0.240985,0.252264,NaN,-0.501849,0.129337,-0.321251,NaN,0.439524,0.056535,NaN,...,-0.068296,NaN,0.653846,-2.374447,NaN,-0.333272,0.207679,0.179051,0.078106,-0.007101

In [53]:
new = 'new_coad_Report_abundance_groupby=protein_protNorm=MD_gu=2.tsv' 
new_path = "../../../"+new
prot = pd.read_csv(new_path, sep = '\t', na_values = 'NA')

In [57]:
df = prot

In [59]:
df['Database_ID'] = df.Index.apply(lambda x: x.split('|')[0]) # Get protein identifier 
df['Name'] = df.Index.apply(lambda x: x.split('|')[6]) # Get protein name 
df = df.set_index(['Name', 'Database_ID']) # set multiindex
df = df.drop(columns = ['Index', 'MaxPepProb', 'NumberPSM', 'Gene']) # drop unnecessary  columns
df = df.transpose()
ref_intensities = df.loc["ReferenceIntensity"] # Get reference intensities to use to calculate ratios 
df = df.subtract(ref_intensities, axis="columns") # Subtract reference intensities from all the values
df.index.name = 'Patient_ID'

In [73]:
prot = df
index_list = list(prot.index)
cancer_df = co_map_df.loc[co_map_df['Label'].isin(index_list)]
# Create dictionary with aliquot_ID as keys and patient_ID as values
matched_ids = {}
for i, row in cancer_df.iterrows():
    matched_ids[row['Label']] = row['Sample Code']
prot = prot.reset_index()
prot = prot.replace(matched_ids) # replace aliquot_IDs with Patient_IDs
prot.Patient_ID = prot.Patient_ID.apply(lambda x: x[1:]+'.N' if x[0] == 'N' else x[1:]) # change normals to have .N 
#prot = prot.set_index('Patient_ID')
prot.Patient_ID.to_list()

['eferenceIntensity',
 '11CO037.N',
 '11CO051.N',
 '01CO008',
 '22CO006',
 '05CO002',
 '11CO036',
 '20CO006',
 '01CO019',
 '09CO005',
 '05CO035.N',
 '05CO053',
 '20CO001.N',
 '05CO045',
 '05CO045.N',
 '05CO035',
 '15CO001.N',
 '05CO044',
 '20CO001',
 '11CO053',
 '11CO019.N',
 '20CO007',
 '05CO041.N',
 '11CO042.N',
 '05CO033.N',
 '11CO008.N',
 '11CO008',
 '11CO019',
 '09CO008.N',
 '11CO033',
 '05CO044.N',
 '05CO039',
 '11CO020',
 '21CO007',
 '05CO041',
 '09CO005.N',
 '05CO034',
 '05CO007.N',
 '05CO054',
 '05CO029',
 '21CO007.N',
 '20CO003',
 '01CO006.N',
 '15CO002',
 '11CO022',
 '05CO050.N',
 '09CO019',
 '11CO032',
 '11CO043',
 '05CO011.N',
 '11CO021.N',
 '11CO018',
 '01CO014.N',
 '11CO077',
 '22CO004',
 '09CO014',
 '09CO006.N',
 '16CO011',
 '15CO002.N',
 '11CO018.N',
 '27CO004.N',
 '09CO015.N',
 '11CO051',
 '11CO070.N',
 '11CO021',
 '09CO018',
 '01CO001.N',
 '14CO002.N',
 '11CO037',
 '11CO054',
 '11CO033.N',
 '09CO011',
 '16CO006.N',
 '20CO004',
 '05CO029.N',
 '05CO003.N',
 '01CO014',
 '05CO032',
 '11CO052',
 '05CO020',
 '05CO049',
 '05CO037',
 '05CO049.N',
 '11CO031.N',
 '05CO015.N',
 '11CO052.N',
 '05CO048',
 '05CO026.N',
 '11CO007.N',
 '11CO048',
 '09CO008',
 '11CO045',
 '05CO054.N',
 '14CO003',
 '05CO034.N',
 '05CO026',
 '11CO054.N',
 '21CO006',
 '11CO030',
 '11CO027.N',
 '11CO061.N',
 '05CO053.N',
 '11CO062',
 '11CO048.N',
 '01CO013.N',
 '11CO047',
 '11CO072',
 '11CO047.N',
 '22CO006.N',
 '14CO005.N',
 '11CO031',
 '01CO015.N',
 '11CO032.N',
 '11CO077.N',
 '11CO053.N',
 '11CO044',
 '09CO022.N',
 '20CO007.N',
 '20CO006.N',
 '01CO005',
 '05CO028',
 '01CO008.N',
 '11CO020.N',
 '09CO015',
 '11CO044.N',
 '11CO079',
 '11CO057.N',
 '05CO047',
 '11CO010.N',
 '11CO042',
 '05CO020.N',
 '20CO004.N',
 '05CO015',
 '01CO019.N',
 '01CO022',
 '16CO011.N',
 '11CO005',
 '11CO039',
 '11CO072.N',
 '05CO039.N',
 '11CO010',
 '11CO045.N',
 '09CO022',
 '11CO005.N',
 '21CO006.N',
 '06CO002.N',
 '14CO005',
 '01CO005.N',
 '11CO043.N',
 '11CO060.N',
 '05CO002.N',
 '09CO013',
 '11CO057',
 '01CO006',
 '09CO013.N',
 '09CO019.N',
 '05CO048.N',
 '16CO002',
 '11CO058',
 '05CO006.N',
 '11CO027',
 '11CO007',
 '05CO028.N',
 '01CO015',
 '05CO003',
 '22CO004.N',
 '11CO030.N',
 '05CO006',
 '16CO006',
 '09CO006',
 '11CO036.N',
 '11CO061',
 '01CO013',
 '06CO001',
 '27CO004',
 '11CO062.N',
 '05CO050',
 '16CO002.N',
 '20CO003.N',
 '05CO032.N',
 '11CO022.N',
 '15CO001',
 '06CO002',
 '16CO003',
 '11CO039.N',
 '09CO011.N',
 '11CO070',
 '05CO033',
 '11CO058.N',
 '05CO037.N',
 '05CO011',
 '09CO018.N',
 '11CO079.N',
 '01CO022.N',
 '09CO014.N',
 '05CO047.N',
 '06CO001.N',
 '16CO003.N',
 'olonRef22-2',
 'efInt_ColonRef01',
 'efInt_ColonRef02',
 'efInt_ColonRef03',
 'efInt_ColonRef04',
 'efInt_ColonRef05',
 'efInt_ColonRef06',
 'efInt_ColonRef07',
 'efInt_ColonRef08',
 'efInt_ColonRef09',
 'efInt_ColonRef10',
 'efInt_ColonRef11',
 'efInt_ColonRef12',
 'efInt_ColonRef13',
 'efInt_ColonRef14',
 'efInt_ColonRef15',
 'efInt_ColonRef16',
 'efInt_ColonRef17',
 'efInt_ColonRef18',
 'efInt_ColonRef19',
 'efInt_ColonRef20',
 'efInt_ColonRef21',
 'efInt_ColonRef22-1']

In [72]:
prot

Name,Patient_ID,ARF5,M6PR,ESRRA,FKBP4,NDUFAF7,FUCA2,CFTR,CYP51A1,USP28,...,CSNK1A1,MICAL2,ANK2,SEPTIN7,ATAD3B,ETNK1,MYO6,WIZ,HSPA12A,t
Database_ID,,ENSP00000000233.5,ENSP00000000412.3,ENSP00000000442.6,ENSP00000001008.4,ENSP00000002125.4,ENSP00000002165.5,ENSP00000003084.6,ENSP00000003100.8,ENSP00000003302.4,...,ENSP00000499757.1,ENSP00000499778.1,ENSP00000499869.1,ENSP00000499937.1,ENSP00000500094.1,ENSP00000500633.1,ENSP00000500710.1,ENSP00000501300.1,ENSP00000501491.1,
0,ReferenceIntensity,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,eferenceIntensity
1,N11CO037,-0.140545,-0.158627,0.270769,-0.173889,-0.054442,0.151261,-0.425006,0.032675,0.684488,...,0.623816,-0.022634,3.012251,0.562383,-0.290763,-0.438649,-0.037222,-0.001106,0.391420,11CO037.N
2,N11CO051,-0.049381,-0.290696,0.651935,-0.032814,0.036565,-0.123199,0.433553,-0.317101,-0.438213,...,0.477169,-0.222751,0.564030,-0.181828,0.104196,0.421477,-0.136805,-0.000140,0.775195,11CO051.N
3,C01CO008,0.404810,-0.246523,-0.053940,0.252995,0.190861,0.101419,-0.502876,0.627060,0.089815,...,-0.558236,-0.093708,-1.874293,-0.248307,-0.899186,-0.526260,0.668713,0.109366,-1.125296,01CO008
4,C22CO006,0.216116,0.145375,-0.295007,0.346591,-0.283399,0.221962,-0.563181,-0.717338,-0.285263,...,-0.175482,-0.367751,-2.361493,-0.101730,0.569413,-0.458096,0.090534,0.021681,-0.047764,22CO006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,RefInt_ColonRef18,0.340313,0.306882,2.088468,0.305824,-0.627967,0.586023,NaN,0.482932,0.558822,...,NaN,NaN,NaN,NaN,-0.468536,0.338548,1.082739,-0.718649,-0.734703,efInt_ColonRef18
217,RefInt_ColonRef19,0.398914,0.302939,NaN,0.239994,-1.599434,0.390295,NaN,0.078661,0.761185,...,NaN,-0.248617,NaN,NaN,0.253446,-0.148747,-0.263215,0.501681,0.373744,efInt_ColonRef19
218,RefInt_ColonRef20,0.344625,0.927379,NaN,1.152260,0.560910,-0.273637,NaN,0.779401,1.162861,...,NaN,1.672804,NaN,NaN,0.722000,-0.354478,0.671931,0.210030,0.245784,efInt_ColonRef20
219,RefInt_ColonRef21,0.627657,0.451991,NaN,0.220018,-0.129085,0.037890,2.794276,-0.039489,NaN,...,0.933812,0.250512,NaN,1.998044,-0.429092,0.945969,-0.130115,0.142951,-0.616362,efInt_ColonRef21
220,RefInt_ColonRef22-1,0.631720,0.422590,NaN,0.214601,-0.408413,-0.207229,2.442323,0.113171,NaN,...,0.607398,-0.350006,NaN,2.522125,-1.231086,-0.229589,-0.111059,0.256539,-0.898093,efInt_ColonRef22-1

In [45]:
co_map = 'CRC_Prospective sample info.xlsx' 
co_path = "../../../input/"+co_map

In [46]:
co_map_df = pd.read_excel(co_path, na_values = 'NA')

In [50]:
co_map_df[['Label','Sample Code']]

                                 Label Sample Code
0    5a3aa99d-ca10-45f6-939f-12392a_D2    N01CO001
1    05a33362-82bb-48ac-8feb-ad2ea1_D2    C01CO005
2    0784c7b3-e6a4-42a8-9288-eb4ba0_D2    N01CO005
3    f9d6fb1b-988e-4D88-9272-cc672f_D8    C01CO006
4    b6b41ba2-6415-41aa-b5f5-4d47db_D2    N01CO006
..                                 ...         ...
192  9a48cf57-e1f0-4ea1-9804-d563f2_D2    N22CO004
193  e1cd3d70-132b-452f-ba10-026721_D2    C22CO006
194  1c070992-647b-4173-a481-904c4d_D2    N22CO006
195  d0511ea6-43c3-4c61-b08e-cf49b7_D3    C27CO004
196  71b2c1cc-0a31-4ca8-8beb-251e17_D2    N27CO004

[197 rows x 2 columns]

In [64]:
co_map_df

,Short Title,PPI,Sample Code,Label,Tissue Site,Pathological Status
0,CPTAC-WU-01CO,01CO001,N01CO001,5a3aa99d-ca10-45f6-939f-12392a_D2,"Colon, NOS",Non-Malignant
1,CPTAC-WU-01CO,01CO005,C01CO005,05a33362-82bb-48ac-8feb-ad2ea1_D2,"Colon, NOS",Malignant
2,CPTAC-WU-01CO,01CO005,N01CO005,0784c7b3-e6a4-42a8-9288-eb4ba0_D2,"Colon, NOS",Non-Malignant
3,CPTAC-WU-01CO,01CO006,C01CO006,f9d6fb1b-988e-4D88-9272-cc672f_D8,"Colon, NOS",Malignant
4,CPTAC-WU-01CO,01CO006,N01CO006,b6b41ba2-6415-41aa-b5f5-4d47db_D2,"Colon, NOS",Non-Malignant
...,...,...,...,...,...,...
192,CPTAC-HF-22CO,22CO004,N22CO004,9a48cf57-e1f0-4ea1-9804-d563f2_D2,"Colon, NOS",Non-Malignant
193,CPTAC-HF-22CO,22CO006,C22CO006,e1cd3d70-132b-452f-ba10-026721_D2,"Colon, NOS",Malignant
194,CPTAC-HF-22CO,22CO006,N22CO006,1c070992-647b-4173-a481-904c4d_D2,"Colon, NOS",Non-Malignant
195,CPTAC-SJ-27CO,27CO004,C27CO004,d0511ea6-43c3-4c61-b08e-cf49b7_D3,"Colon, NOS",Malignant
196,CPTAC-SJ-27CO,27CO004,N27CO004,71b2c1cc-0a31-4ca8-8beb-251e17_D2,"Colon, NOS",Non-Malignant

In [14]:
mapper_1 = "pdc_aliquot_2021-03-02_15_58.tsv.xlsx" 
m_path = "../../../input/"+mapper_1

In [17]:
map_df = pd.read_excel(m_path, na_values = 'NA')
map_df

,type,project_id,submitter_id,samples.submitter_id#1,samples.submitter_id#2,samples.submitter_id#3,samples.submitter_id#4,samples.submitter_id#5,analyte_type
0,aliquot,CPTAC-3,CPT0053040004,9f905736-f662-41d6-b3ac-16758d,,,,,protein
1,aliquot,CPTAC-3,CPT0052940004,93e30fd5-e57e-4503-a175-863c7d,,,,,protein
2,aliquot,CPTAC-3,CPT0052170004,5a84eae1-197e-4463-ad65-59becc,,,,,protein
3,aliquot,CPTAC-3,CPT0051690004,2f2e5477-42a4-4906-a943-bf7f80,,,,,protein
4,aliquot,CPTAC-3,CPT0001580009,C3L-00001-02,,,,,protein
...,...,...,...,...,...,...,...,...,...
3070,aliquot,CPTAC-3,CPT032238 0003,C3N-05923-01,,,,,protein
3071,aliquot,CPTAC-3,CPT032239 0003,C3N-05923-09,,,,,protein
3072,aliquot,CPTAC-3,CPT032253 0003,C3N-05929-03,,,,,protein
3073,aliquot,CPTAC-3,CPT032254 0003,C3N-05929-05,,,,,protein
3074,aliquot,CPTAC-3,CPT037855 0003,C3N-05991-01,,,,,protein

In [13]:
# remove spaces (aliquot IDs with a space or without a space are the same -Mathangi email)
map_df['submitter_id'] = map_df['submitter_id'].replace(" ", "", regex = True)

In [14]:
# Use samples.submitter_id#1 because it always has a value and represents the type of sample for any run in the aliquot 
# (each row is either tumor or normal in pdc_aliquot_2021-03-02_15_58.tsv) 

map_df = map_df.rename(columns = {'submitter_id':'aliquot_ID', 'samples.submitter_id#1':'sample_ID',
                                      'samples.submitter_id#2':'2', 'samples.submitter_id#3':'3',
                                       'samples.submitter_id#4':'4', 'samples.submitter_id#5':'5'})

In [15]:
# append all sample.submitters (sample_ID col) 
map_df = map_df.drop(columns = ['type','project_id','analyte_type']) # only for protein, need to get files for phospho
melted = map_df.melt(id_vars = 'aliquot_ID', value_name = 'sample_ID')
all_vals = melted.loc[melted.sample_ID != ' '] # drop empty vals for samples
map_df_1 = all_vals[['aliquot_ID','sample_ID']]
map_df_1

          aliquot_ID                       sample_ID
0      CPT0053040004  9f905736-f662-41d6-b3ac-16758d
1      CPT0052940004  93e30fd5-e57e-4503-a175-863c7d
2      CPT0052170004  5a84eae1-197e-4463-ad65-59becc
3      CPT0051690004  2f2e5477-42a4-4906-a943-bf7f80
4      CPT0001580009                    C3L-00001-02
...              ...                             ...
10498  CPT0265630004                    C3L-04090-04
11352  CPT0117010004                    C3N-01871-04
13296  CPT0192540004                    C3L-02665-05
13429  CPT0190360004                    C3L-03407-05
13430  CPT0190360012                    C3L-03407-05

[3418 rows x 2 columns]

In [16]:
map_df_1.sample_ID.duplicated().value_counts() #unique values for sample_IDs equals the num sample_IDs in the pdc_sample file

False    2870
True      548
Name: sample_ID, dtype: int64

In [17]:
map_df_1.aliquot_ID.duplicated().value_counts() #some duplicate sample_IDs have different aliquots

False    3075
True      343
Name: aliquot_ID, dtype: int64

Get df using sample IDs as the index to merge with.

In [18]:
mapper_2 = 'pdc_sample_2021-03-05_16_43.tsv.txt'
m_path_2 = "../../../input/"+mapper_2

In [19]:
map_df_2 = pd.read_csv(m_path_2, sep = "\t", na_values = 'NA') # type, project_id, and analyte_type have all same vals

# Make patient_ID vals (case_id + .N if normal sample) 
map_df_2['patient_ID'] = map_df_2['cases.submitter_id'] +'_'+ map_df_2['tissue_type']
map_df_2['patient_ID'] = map_df_2['patient_ID'].str.replace('_Tumor$','')
map_df_2['patient_ID'] = map_df_2['patient_ID'].str.replace('_Normal$','.N')
map_df_2 = map_df_2.rename(columns = {'submitter_id': 'sample_ID'})
map_df_2 = map_df_2[['sample_ID', 'patient_ID']]
map_df_2

                           sample_ID   patient_ID
0     9f905736-f662-41d6-b3ac-16758d      11LU013
1     93e30fd5-e57e-4503-a175-863c7d      11LU016
2     5a84eae1-197e-4463-ad65-59becc      11LU022
3     2f2e5477-42a4-4906-a943-bf7f80      11LU035
4                       C3L-00001-02    C3L-00001
...                              ...          ...
2865                    C3N-05923-01    C3N-05923
2866                    C3N-05923-09  C3N-05923.N
2867                    C3N-05929-03    C3N-05929
2868                    C3N-05929-05  C3N-05929.N
2869                    C3N-05991-01    C3N-05991

[2870 rows x 2 columns]

In [20]:
# Check if any sample_IDs are only in one file
test = 'sample_ID'
s1 = list(map_df_1[test])
s2 = list(map_df_2[test])

n = set(s1) ^ set(s2) 
print('unique vals:', len(n), '\n')

in_s1 = []
in_s2 = []

for e in n: 
    if e in s1:
        #print('in s1')
        in_s1.append(e)
    if e in s2:
        #print('in s2')
        in_s2.append(e)
print('num in s1:', len(in_s1))
print('num in s2:', len(in_s2))

unique vals: 0

num in s1: 0
num in s2: 0

In [21]:
print('total length of aliquot to sample file:', len(map_df_1))
print('total length of sample to patient file:', len(map_df_2))
print('difference:', len(map_df_1) - len(map_df_2))

total length of aliquot to sample file: 3418
total length of sample to patient file: 2870
difference: 548

In [22]:
# Merge dfs
# set index to sample_id
map_df_1 = map_df_1.set_index('sample_ID')
map_df_2 = map_df_2.set_index('sample_ID')
all_df = map_df_1.join(map_df_2, how = 'outer')

In [23]:
# drop duplicate aliquot_IDs (keeps first aliquot of duplicated)
all_df = all_df.loc[~ all_df.aliquot_ID.duplicated()]
print('length:', len(all_df))

length: 3075

Add GBM normal samples to matched_ids dictionary.

In [24]:
# GBM normal samples
gbm_file = 'GBM_normal_sample_mapping.xlsx'
g_path = "../../../input/"+gbm_file

In [25]:
gbm_df = pd.read_excel(g_path, sep = "\t", na_values = 'NA') 
gbm_df = gbm_df[['BSIID', 'Subject ID']].rename(columns = {'BSIID':'aliquot_ID', 'Subject ID':'patient_ID'})
all_df = all_df.append(gbm_df)
print(len(gbm_df))

17

In [26]:
print('total length of combined mapping file:', len(all_df)) # 3075 + 17 (gbm normal) = 3092

total length of combined mapping file: 3092

# Create file

In [27]:
all_df.to_csv('../../../input/aliquot_to_patient_ID.tsv', sep = '\t')

In [32]:
mapping_df = pd.read_csv('../../../input/aliquot_to_patient_ID.tsv', delimiter = '\t', index_col = 0)

In [37]:
mapping_df[mapping_df.patient_ID.str.contains('C3L-03407')]

                 aliquot_ID patient_ID
C3L-03407-01  CPT0190360004  C3L-03407
C3L-03407-01  CPT0190360012  C3L-03407

In [29]:
# Check if key values will be unique
if True in set(mapping_df.aliquot_ID.duplicated()):
    print('There are duplicates. Key vals will not be unique.')

In [30]:
a=mapping_df['aliquot_ID']
print('total rows',len(a))
len(a.dropna())

total rows 3092

3092